<html>
<head>
	<title>Tv Shows!!! </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<script src="https://kit.fontawesome.com/809f419c9a.js" crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light" id = "nav_color">
	<span class = "icon"><i class="fas fa-tv"></i></span>
	<a class="navbar-brand" href = "/shows">The Binge Book</a>
	<a class="navbar-brand" href = "/shows/new"><span class = "icon"><i class="fas fa-plus"></i></span></a>

	
</nav>
<div class="container">	
<body>
	
